@import "tailwindcss";

:root {
  font-family: "Asta Sans", sans-serif;
  --color-primary-main: #87BCF5;
  --color-primary-hover: #6EAAF1;
  --color-primary-active: #589BEA;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Asta Sans", sans-serif;
  margin: 0;
  background: white;
  color: #0f172a;
  overflow-x: hidden;
}

html,
body,
#root {
  min-height: 100%;
}
